/*font-family: 'Anybody', sans-serif;
font-family: 'Lexend Mega', sans-serif;
font-family: 'Poppins', sans-serif;*/

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.limitar-secao {
  max-width: 1024px;
  margin: 0 auto;
}

.limitar-secao h2 {
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
}
